version: "3"

services:
  taskmanager:
    image: flink:1.9.2-scala_2.11
    ports:
      - "6121:6121"
      - "6122:6122"
    command: taskmanager
    volumes:
      - ./conf:/opt/flink/conf
    environment:
      - JOB_MANAGER_RPC_ADDRESS=fmaster